$header-height: 70px;
$footer-height: 200px;
$padding-top: 15px;

$pink-gradient: linear-gradient(4deg, #7B25FB, #AC38FA);
$pink-one: #7B25FB;
$pink-two: #9c37e2;

$page-show-duration: .15s;

$red: #9c0023;
$green: #0eb56a;
$blue: #1976d2; 
$white: #fffc;


// width > 767px
$header-height-desktop: 80px;
$padding-top-desktop: 30px;